<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeCanvas - 새 글 작성</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/board_form.css">
</head>
<body class="write-page">
<div th:replace="include/header :: mainHeader"></div>
<main class="container">
    <div class="card">
        <h1>새 게시글 작성</h1>
        <form action="/api/board/write" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <label for="board">게시판 선택</label>
                <select id="board" name="board">
                    <option value="FREE">자유게시판</option>
                    <option value="RECRUIT">프로젝트</option>
                    <option value="BACK">백엔드 게시판</option>
                    <option value="FRONT">프론트엔드 게시판</option>
                </select>
            </div>
            <div class="form-row">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" placeholder="게시글 제목을 입력하세요" />
            </div>

            <div class="form-row">
                <label for="content">내용</label>
                <textarea id="content" name="content" placeholder="내용을 입력하세요"></textarea>
            </div>

            <div class="form-row">
                <label for="images">이미지 첨부</label>
                <label for="images" class="file-label">파일 선택</label>
                <input type="file" id="images" name="files" multiple />
            </div>

            <div class="form-row flex">
                <button type="button" class="btn btn-primary" id="submitBtn">등록</button>
                <button type="button" class="btn btn-ghost">취소</button>
            </div>
        </form>
    </div>
</main>
<script src="/js/board.js"></script>
</body>
</html>